.btn-danger{
  background-color: #D9534F !important;
  border-color: #BF413D !important;
  margin-left: 10px;
}

.btn-primary{
  background-color: #003D79 !important;
  border-color: #233772 !important;
}
