<!--Tooltip Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Mon profil</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a>Mon profil</a>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section class="row">
    <div class="col-sm-12">
      <!-- What is-->

      <form class="form" [formGroup]="profileForm">
        <div id="what-is" class="card">
          <div class="card-header">
            <h4 class="card-title">Mon profil</h4>
            <a class="heading-elements-toggle">
              <i class="fa fa-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
              <div class="card card-photo">
                <img [src]="result64 || defaultAvatar" id="img" #img>
                <div class="overlay text-center">
                  <label for="photo">
                    <a class="text-white">Modifier</a>
                    <input type="file" id="photo" class="form-control" formControlName="avatar" (change)="onFileChange($event)" accept="image/*"
                      #fileInput>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row col-12">
                <div class="form-group col-md-4">
                  <label for="lastname">Nom: </label>
                  <input class="form-control" id="lastname" formControlName="lastname" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="firstname">Prenom: </label>
                  <input class="form-control" id="firstname" formControlName="firstname" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="phone">Telephone: </label>
                  <input class="form-control" id="phone" formControlName="phone" type="text">
                </div>
              </div>
              <div class="row col-12">
                <div class="form-group col-md-4">
                  <label for="mail">Email: </label>
                  <input class="form-control" id="mail" formControlName="mail" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="username">Nom d'utilisateur: </label>
                  <input class="form-control" id="username" formControlName="username" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="password">Mot de passe: </label>
                  <input class="form-control" id="password" formControlName="password" type="password">
                </div>
              </div>
              <div class="row col-12">
                <div class="form-group col-md-12">
                  <label for="address">Adresse: </label>
                  <input class="form-control" id="address" formControlName="address" type="text">
                </div>
              </div>
              <div class="row">
                <button class="btn btn-primary offset-10" (click)="saveProfile()">Enregistrer</button>
              </div>
            </div>
          </div>
          <!--/ What is-->
        </div>
      </form>
    </div>
  </section>
</div>
