<!--Tooltip Starts-->
<div class="content-header row">
   <div class="content-header-left col-md-6 col-12 mb-1">
      <h3 class="content-header-title">Mon compte</h3>
   </div>
   <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
      <div class="breadcrumb-wrapper col-12">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a routerLink="/home">Accueil</a>
            </li>
            <li class="breadcrumb-item active">Mon compte
            </li>
         </ol>
      </div>
   </div>
</div>
<div class="content-body">
   <section class="row">
      <div class="col-sm-12">
         <!-- What is-->
         <div id="what-is" class="card">
            <div class="card-header">
               <h4 class="card-title">Mise a jour de vos informations personnelles</h4>
               <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
               <div class="heading-elements">
               </div>
            </div>
            <div class="card-content collapse show">
               <div class="card-body">
                  <div class="card-text">
                     <p>Cette rubrique vous permet de modifier les informations personnelles relatives à votre compte en
                        ligne.
                        Pour modifier toute autre donnée à caractère personnel non disponible dans cette rubrique,
                        contactez le Centre de
                        Relation Clientèle au 0535000000 ou envoyez un courriel à contact@radem.ma</p>
                     <div class="">
                        <form id="profile-form">
                           <div class="form-group">
                              <label class="label-control col-md-4">Ville</label>
                              <div class="col-md-8">
                                 <select class="form-control">
                                    <option>Agadir</option>
                                    <option>Casablanca</option>
                                    <option>Meknes</option>
                                    <option>Er-rachidia</option>
                                 </select>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="label-control col-md-4">Email</label>
                              <div class="col-md-8">
                                 <input type="email" class="form-control" placeholder="Ex: exemple@domain.com">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="label-control col-md-4">Nº de téléphone</label>
                              <div class="col-md-8">
                                 <input type="text" class="form-control" placeholder="Ex: 06-23-23-23-23">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="label-control col-md-4">Nº de téléphone fix</label>
                              <div class="col-md-8">
                                 <input type="text" class="form-control" placeholder="Ex: 05-23-23-23-23">
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!--/ What is-->
         </div>
      </div>
   </section>
</div>