<body class="horizontal-layout horizontal-menu 1-column   menu-expanded blank-page blank-page"
      data-open="click" data-menu="horizontal-menu" data-col="1-column">
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img class="login-logo" src="/assets/app/images/logo/logo.jpg">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                  <span>Connexion</span>
                </h6>
              </div>
              <div class="card-content">
                <div class="card-body">

                  <form (ngSubmit)="onLogin()" class="form-horizontal form-simple" [formGroup]="userForm" novalidate>
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                      <input type="text" class="form-control form-control-lg"
                             formControlName="username"
                             [(ngModel)]="username"
                             placeholder="{{'login.placeholders.username' | translate }}"
                             autocomplete="off"
                             required/>
                      <div class="form-control-position">
                        <i class="ft-user"></i>
                      </div>
                      <div *ngIf="userForm.get('username').touched && userForm.get('username').hasError('required')"
                           translate="validations.required.username" class="text-danger font-weight-bold">
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control form-control-lg"
                             formControlName="password"
                             [(ngModel)]="password"
                             placeholder="{{'login.placeholders.password' | translate }}"
                             autocomplete="off"
                             required/>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                      <div *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')"
                           translate="validations.required.password" class="text-danger font-weight-bold">
                      </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                            [disabled]="!userForm.valid || loading" value="{{ 'login.button-login' | translate }}">
                      <i class="ft-unlock"></i> {{ 'login.button-login' | translate }}
                    </button>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <p >
                  <a routerLink="/recover-password" class="card-link">Mot de passe oublié?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</body>
