<div id="maintenancePage">
  <article>
    <h1>L'application est temporairement indisponible.</h1>
    <p>La maintenance planifiée est actuellement en cours. S'il vous plaît revenez bientôt.</p>
    <p>Nous nous excusons pour tout inconvénient.</p>
    <p id="signature">&mdash; <a href="mailto:maintenance@labelvie.ma" class="text-info">maintenance@labelvie.ma</a></p>
    <p class="text-right">
      <button class="btn btn-lg btn-outline-info"
              (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; Acutaliser</button>
    </p>
  </article>
</div>

