<div class="content-body">
  <section class="row">
    <div class="col-4">
      <!-- Indicateur-->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Indicateur 1</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <img class="card-img" src="assets/app/images/dashboard/indicateur-1.png" />
          </div>
        </div>
      </div>
      <!--/ Indicateur-->
    </div>
    <div class="col-4">
      <!-- Indicateur-->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Indicateur 2</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <img class="card-img" src="assets/app/images/dashboard/indicateur-2.png" />
          </div>
        </div>
      </div>
      <!--/ Indicateur-->
    </div>
    <div class="col-4">
      <!-- Indicateur-->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Indicateur 3</h4>
          <a class="heading-elements-toggle">
            <i class="fa fa-ellipsis-v font-medium-3"></i>
          </a>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <img class="card-img" src="assets/app/images/dashboard/indicateur-3.png" />
          </div>
        </div>
      </div>
      <!--/ Indicateur-->

    </div>
  </section>
</div>
