<div id="add-users">
   <nav aria-label="breadcrumb" class="doNotPrint">
      <ul class="breadcrumb">
         <li class="breadcrumb-item"><a href="#"><i class="icon-settings"></i> Administration</a></li>
         <li class="breadcrumb-item active" aria-current="page">Gestion utilisateur</li>
      </ul>
   </nav>
   <div class="container-fluid">
      <div class="spacer"></div>
      <div class="card">
         <div class="card-body">
            <section>
               <div class="doNotPrint">
                  <h4 class="card-title text-muted" *ngIf="!user?.id">Ajouter un nouvel utilisateur</h4>
                  <h4 class="card-title text-muted" *ngIf="user?.id">Editer l'utilisateur : {{user.username}}</h4>
               </div>
               <form [formGroup]="modalForm" (ngSubmit)='saveUser(modalForm)' novalidate>
                  <tabset [justified]="true">
                     <tab heading="Profile" class="active">
                        <div class="container-fluid">
                           <div class="form-group row required">
                              <label for="firstname" class="col-sm-3 col-form-label">Prénom</label>
                              <div class="col-sm-9">
                                 <input type="text"
                                        class="form-control"
                                        id="firstname"
                                        placeholder="Prénom"
                                        formControlName="firstname"
                                 >
                                 <div *ngIf="firstname.invalid && (firstname.dirty || isSubmitted)"
                                      class="text-danger">
                                    <div *ngIf="firstname.errors.required">
                                       Le prénom est obligatoire
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group row required">
                              <label for="firstname" class="col-sm-3 col-form-label">Nom</label>
                              <div class="col-sm-9">
                                 <input type="text"
                                        class="form-control"
                                        id="lastname"
                                        placeholder="Nom"
                                        formControlName="lastname"
                                        required>
                                 <div *ngIf="lastname.invalid && (lastname.dirty || isSubmitted)"
                                      class="text-danger">
                                    <div *ngIf="lastname.errors.required">
                                       Le nom est obligatoire
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group row required">
                              <label for="username" class="col-sm-3 col-form-label">Nom de l'utilisateur</label>
                              <div class="col-sm-9">
                                 <input type="text"
                                        class="form-control"
                                        id="username"
                                        placeholder="Nom de l'utilisateur"
                                        formControlName="username"
                                        required>
                                 <div *ngIf="username.invalid && (username.dirty || isSubmitted)"
                                      class="text-danger">
                                    <div *ngIf="username.errors.required">
                                       Le nom de l'utilisateur est obligatoire
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group row required">
                              <label for="email" class="col-sm-3 col-form-label">Email</label>
                              <div class="col-sm-9">
                                 <input type="email"
                                        class="form-control"
                                        id="email"
                                        placeholder="Email"
                                        formControlName="email"
                                        required>
                                 <div *ngIf="email.invalid && (email.dirty || isSubmitted)" class="text-danger">
                                    <div *ngIf="email.errors.required">
                                       L'email est obligatoire
                                    </div>
                                    <div *ngIf="email.errors?.pattern">
                                       L'email est invalide
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div *ngIf="!user?.id">
                              <div class="form-group row required">
                                 <label for="password" class="col-sm-3 col-form-label">Mot de passe</label>
                                 <div class="col-sm-9">
                                    <input type="password"
                                           class="form-control"
                                           id="password"
                                           placeholder="Mot de passe"
                                           formControlName="password"
                                           required>
                                    <div *ngIf="password.invalid && (password.dirty || isSubmitted)"
                                         class="text-danger">
                                       <div *ngIf="password.errors.required">
                                          Le mot de passe est obligatoire
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group row required">
                                 <label for="passwordConf" class="col-sm-3 col-form-label">Confirmez le mot de
                                    passe</label>
                                 <div class="col-sm-9">
                                    <input type="password"
                                           class="form-control"
                                           id="passwordConf"
                                           placeholder="Mot de passe"
                                           formControlName="confirmPassword">
                                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || isSubmitted)"
                                         class="text-danger">
                                       <div *ngIf="confirmPassword.errors.MatchPassword">
                                          Les deux mots de passes ne sont pas identiques
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </tab>
                     <tab heading="Bio">
                        <div class="container-fluid">
                           <div class="form-group row">
                              <label for="photo" class="col-sm-3 col-form-label">Photo de profil</label>
                              <div class="col-sm-9">
                                 <div class="card card-photo">
                                    <img [src]="result64 || defaultAvatar" id="img" #img>
                                 </div>
                                 <input type="file"
                                        id="photo"
                                        class="form-control"
                                        formControlName="avatar"
                                        (change)="onFileChange($event)"
                                        accept="image/*"
                                        #fileInput>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="address" class="col-sm-3 col-form-label">Adresse</label>
                              <div class="col-sm-9">
                      <textarea class="form-control"
                                id="address"
                                rows="4"
                                formControlName="address"></textarea>
                              </div>
                           </div>
                        </div>
                     </tab>
                     <tab heading="Droits d'accès">
                        <div class="container-fluid">
                           <div class="card my-0">
                              <div class="card-body">
                                 <h5 class="text-muted">Type de compte</h5><br/>
                                 <div class="form-group row required">
                                    <label for="profilType" class="col-sm-3 col-form-label">Profil</label>
                                    <div class="col-sm-9">
                                       <select id='profilType'
                                               (change)="onProfileChange(profileId)"
                                               class="form-control"
                                               formControlName="profileId"
                                               required>
                                          <option value="">Séléctionner une valeur</option>
                                          <option *ngFor="let c of listProfiles"
                                                  value="{{c.id}}">{{c.title}}
                                          </option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label for="enabled" class="col-sm-3 col-form-label">Activer le compte</label>
                                    <div class="col-sm-9">
                                       <div class="form-check">
                                          <input type="checkbox" class="form-check-input" id="enabled"
                                                 formControlName="enabled">
                                          <label class="form-check-label" for="enabled">Activer le compte sinon
                                             l'utilisateur ne sera
                                             pas en mesure d'accéder à son compte.</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title text-muted text-left">Droits d'accès</h5>
                                 <div class="row">
                                    <div *ngFor="let authority of authorities"
                                         class="col-md-6 float-left text-left">
                                       <label>
                                          <input type="checkbox" name="{{authority.id}}" class="form-group"
                                                 [(checklist)]="selectedAuthorities" [checklistValue]="authority.id">
                                          {{authority.name}}</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </tab>
                  </tabset>
                  <div class="text-right">
                     <button type="button" class="btn btn-secondary" [routerLink]="['/admin/users']"> Annuler
                     </button>
                     <button class="btn btn-success" [disabled]="modalForm.invalid">Enregistrer</button>
                  </div>
               </form>
            </section>
         </div>
      </div>
   </div>
</div>
