#add-users {
  tabset {
    margin-bottom: 20px;
    .container-fluid {
      margin-top: 20px;
      .form-group.required .col-form-label:after {
        content:" *";
        color:red;
      }
      .card {
        margin-bottom: 20px;
        &.card-photo {
          width: 200px;
          height: 200px;
          display: block;
          padding: 4px;
          line-height: 1.42857143;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-transition: border .2s ease-in-out;
          -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
